<h1>Step 1: Choose your Model and color</h1>

<div class="model-form" [formGroup]="modelForm">
    <mat-form-field style="float: left">
        <mat-label>Model</mat-label>
        <mat-select id="modelSelect" formControlName="modelSelect">
            @for (model of carModels; track model; let idx = $index) {
                <mat-option [value]="model">
                    {{ model.description }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field style="float: left">
        <mat-label>Color</mat-label>
        <mat-select id="colorSelect" formControlName="colorSelect">
            @for (color of modelSelect.value.colors; track color; let idx = $index) {
                <mat-option [value]="color">
                    {{ color.description }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>

  
