<h1>Step 2: Select your configuration and options</h1>

<div class="config-form" [formGroup]="configForm">
    <mat-form-field style="float: left">
        <mat-label>Configuration</mat-label>
        <mat-select [(value)]="selectedOption.config" formControlName="configSelect">
            @for (config of carConfigs; track config; let idx = $index) {
                <mat-option [value]="config">
                    {{ config.description }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="selectedOption.towHitch" formControlName="towCheck">
        Tow Hitch
    </mat-checkbox>
    <mat-checkbox [(ngModel)]="selectedOption.yoke" formControlName="yokeCheck">
        Yoke Steering Wheel
    </mat-checkbox>
    <p *ngIf="status">
        {{ carOptionText }}
    </p>
</div>

  
