:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.summary-container {
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
}

mat-form-field {
    width: 100%;
}